@page "/AddEmployee"
@using BlazorCRUD.Data
@inject EmployeeService employeeService
@inject NavigationManager NavigationManager

<br />
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" href="https://localhost:44383/Employees">EMPLEADOS</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://localhost:44383/AddEmployee">AGREGAR</a></li>
                    <li class="nav-item"><a class="nav-link" href="#team">MISIÓN</a></li>
                    <li class="nav-item"><a class="nav-link" href="#team">VISIÓN</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h2>AGREGAR EMPLEADOS</h2>
    <hr />

    <form >
        <div class="row">
            <div class="col-md-8" >
                <div class="form-group row">
                    <label for="Name" class="col-sm-2 col-form-label">NOMBRES</label>
                    <input form="Name" class="form-control" width="200" @bind="@obj.EmployeName" />
                </div>
                <br />
                <div class="form-group row">
                    <label for="Gender" class="control-label">GENERO</label>
                    <select @bind="@obj.Gender" class="form-control">
                        <option value="">-SELECCIONA GENERO</option>
                        <option value="Male">HOMBRE</option>
                        <option value="Female">MUJER</option>
                    </select>
                </div>
                <br />
                <div class="form-group row">
                    <label for="Designation" class="control-label">CARGO</label>
                    <input form="Designation" class="form-control" @bind="@obj.Designation" />
                </div>
                <br />
                <div class="form-group row">
                    <label for="City" class="control-label">CIUDAD</label>
                    <input form="City" class="form-control" @bind="@obj.City" />
                </div>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="button" class="btn btn-primary" @onclick="@CreateEmployee" value="Save" />
                    <br />
                    <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
                </div>
            </div>
        </div>
    </form>

    @code { Employee obj = new Employee();
                protected async void CreateEmployee()
                {
                    await employeeService.InsertEmployeeAsync(obj);
                    NavigationManager.NavigateTo("Employees");
                }
                void Cancel()
                {
                    NavigationManager.NavigateTo("Employees");
                } }
