@page "/EditEmployee/{Id}"
@using BlazorCRUD.Data
@inject EmployeeService employeeService
@inject NavigationManager NavigationManager

 <br />
    <h2>MODIFICAR EMPLEADOS</h2>
    <hr />

    <form>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <input form="Name" class="form-control" @bind="@obj.Id" />
                </div>
                <div class="form-group">
                    <label for="Name" class="control-label">NOMBRES</label>
                    <input form="Name" class="form-control" @bind="@obj.EmployeName" />
                </div>
                <div class="form-group">
                    <label for="Gender" class="control-label">GENERO</label>
                    <select @bind="@obj.Gender" class="form-control">
                        <option value="">-SELECCIONE GENERO</option>
                        <option value="Male">HOMBRE</option>
                        <option value="Female">MUJER</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Designation" class="control-label">OCUPACIÓN</label>
                    <input form="Designation" class="form-control" @bind="@obj.Designation" />
                </div>
                <div class="form-group">
                    <label for="City" class="control-label">CIUDAD</label>
                    <input form="City" class="form-control" @bind="@obj.City" />
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="button" class="btn btn-primary" @onclick="@UpdateEmployee" value="Update" />
                    <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
                </div>
            </div>
        </div>
    </form>


    @code { [Parameter]
        public string Id { get; set; }
        Employee obj = new Employee();
        protected override async Task OnInitializedAsync()
        {
            obj = await Task.Run(() => employeeService.GetEmployeeAsync(Convert.ToInt32(Id)));
        }
        protected async void UpdateEmployee()
        {
            await employeeService.UpdateEmployeeAsync(obj);
            NavigationManager.NavigateTo("Employees");
        }
        void Cancel()
        {
            NavigationManager.NavigateTo("Employees");
        } 
        }

